.wrapper {
	width: 400px;
	margin: auto;
}

.imageWrap {
	width:  600px;
	height: 400px;
	margin: auto;

}

body {
	text-align: center;
	background:  #a2a77f;
}

header {
	font-family: monospace, serif;
	color: #eff1c5;
	padding: 23px;
}

main {
	color: #e3e7af;
}

h1 {
	color:  #e3e7af;
	padding: 23px;
	font-size: 30px;
}
h2 {
	font-size: 23px;
}
.footer {
	font-family: monospace, serif;
	color: #eff1c5;
}

a:link     {color: #eff1c5;}
a:visited  {color: #dfe38c;}
a:hover    {color: #035e7b;}
a:active   {color: #002e2c;}
