.wrapper {
	width: 400px;
	margin: auto;
}

.imageWrap {
	width:  600;
	margin: auto;

}

body {
	text-align: center;
	background-color:  #a2a77f;
}

header {
	color: #eff1c5;
	padding: 30px;
}

h1 {
	color:  #e3e7af;
}
